                                        /* SIGN UP CSS */
*{
    margin: 0px;
   
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(109, 109, 180);
    align-items: center;
}
.nav img{
    margin-left: 20px;
    
}
.nav h4{
    /* background-color: brown; */
    margin-right: 20px;
}
.nav h4 a{
text-decoration: none;
color: rgb(19, 17, 17);
font-family: "Poppins";
font-size: 34px;
text-transform: capitalize;
font-weight: 450;
}
.nav h4 a:hover{
    color: azure;
    font-weight: 40px;
    cursor: pointer;
}
.heading h3{
   color:rgb(130, 169, 213);
    font-size: 43px;
    padding-top: 10px;
    font-family: "Poppins";
}
.main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 60px;
    width: 350px;
    margin-left:520px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:350px
}
.email{
    padding:10px;
    text-align: center;
    font-size: 20px;
}
.pass{
    padding:10px;
    text-align: center;
    font-size: 20px;
    margin-top: -10px;
    

}
input{
    border: 1px solid rgba(164, 162, 215, 0.71);
    outline: none;
    width: 250px;
    height:40px
    
    
    
}

.btn:hover{
    outline: none;
    /* overflow: hidden; */
    transition: .2s;
    border: none;
    background-color: rgb(43, 58, 226);

    
}
                                                      /* LOGIN CSS */
.sign-main{
    border: 1px solid rgb(211, 207, 207);
    text-align: center;
    margin-top: 40px;
    width: 350px;
    margin-left:520px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:480px
}
.fname,.lname{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

                           /* CARD CSS */
.nav h3{
text-decoration: none;
color: rgb(19, 17, 17);
font-size: 34px;
text-transform: capitalize;
font-weight: 450;
margin-right: 20px;
}
.card{
    /* border: 1 px solid rgb(67, 63, 63);
    box-shadow: 10px 10px 5px #aaaaaa; */
    box-shadow: 10px 10px 5px #aaaaaa;
    /* background-color: rgb(178, 211, 206); */
    margin-left: 100px;
    /* display: block; */
    margin-top: 42px;
    /* width: 300px !important; */
    
}
.card:hover{
    transition: .5s ease-in-out;
    transform: scale(1.1);
}
.row{
    display: flex;
}
.card img{
    padding-top: 40px;
    object-fit: cover;
    align-items: center;
    margin-left: 10px;
}
.card .new{
    margin-left: 60px;
}
.card-body .card-title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
#card-name:hover{
    color: azure;
    cursor: pointer;
}

                                    /* HTML QUIZ CSS */
.main-1{
    /* border: 1px solid red; */
    border: 1px solid rgb(211, 207, 207);
    /* text-align: center; */
   
    background-color: rgb(149, 149, 242);
    margin-top: 60px;
    width: 800px;
    margin-left:260px ;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 15px;
    height:350px
    
    
}
#question{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    
}
#countDowne{
    font-size: 25px;
    float: right;
    margin-right: 30px;
    margin-top: -90px;
}
#next{
    width: 90px;
    border-radius: 35px;
    border: 1px solid rgb(187, 172, 172);
    font-family: "Poppins";
    font-size: 15px;
    padding: 10px;
    margin-left: 660px;
}
.list input{
    width: 20px;
    margin-top: 20px;
    position: relative;
    top: 10px;

}
.list input:hover{
    cursor: pointer;
}
.list ul li {
    list-style: none;
    font-size: 20px;
}
#heading50{
    margin-top: 80px;
    text-align: center;
}
#button34{
    margin-left: 361px;
    margin-top: 10px;
    padding: 10px ;

}






@media only screen and (max-width: 500px) {
.main{
    margin-left: 19px;
    width: 310px;
}
.sign-main{  
    margin-left: 19px;
    width: 310px;
}
.nav img{
    width: 70px;
}
.nav h4 a{
    font-size: 26px;
    font-weight: 1060;
}
.row{
    display: block;
}
.card1{
    margin-left: -65px;
}
#card-name{
    font-size: 25px;
    font-weight: 80px;
}
.main-1{
       /* border: 1px solid red; */
       border: 1px solid rgb(211, 207, 207);
       /* text-align: center; */
       margin-top: 80px;
       width: 350px;
       margin-left:6px ;
       box-shadow: 10px 10px 5px #aaaaaa;
       border-radius: 15px;
       height:350px
}
#next{
    width: 90px;
    border-radius: 35px;
    border: 1px solid rgb(187, 172, 172);
    font-family: Poppins;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 230px;
}
#question{
    margin-top: 40px;
    font-size: 17px;
    width: 390px;
    text-align: center;
    margin-left:-20px;
    
}
#countDowne{
    font-size: 25px;
    float: right;
    margin-right: 10px;
    margin-top: -105px;
    
}
.list input{
    width: 20px;
    margin-top: 20px;
    margin-left: -18px;
    position: relative;
    top: 10px;

}
}
/* @media only screen and (max-width: 800px) {
.main{
    margin-left: 19px;
    width: 310px;
}
.sign-main{  
    margin-left: 19px;
    width: 310px;
}
.nav img{
    width: 70px;
}
.nav h4 a{
    font-size: 26px;
    font-weight: 1060;
}
.new-card1{
    margin-left: 200px;
}
.new-card2{
    margin-top: 460px;
    margin-left: -420px;
}
.card1{
    margin-left: -65px;
}
#card-name{
    font-size: 25px;
    font-weight: 80px;
}

} */